<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Runners' Shop</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <ul>
    <% if (items && items.length === 0){ %>
      <span>Sorry there is no inventory in stock. Try back later.</span>
    <%  } else { %>
     <% items.forEach((item) => { %>
      <li>Item:<%= item.name %> 
        <br> Type: <%= item.type %> 
        <br> Price: <%= item.price %> 
        <br> Weather: <%= item.weather %> 
        <br> Description: <%= item.description %>
        <form action="/<%= item.id %>/delete" method="POST" style="display:inline;">
            <a href="/password">
                <button type="submit" class="deleteBtn" onclick="return confirm('Are you sure you want to delete this user?');">Delete</button>
            </a>
        </form>
    </li>
     <% }) %>
     <% } %>
    </ul>
    <a href="/new"><button>Add</button></a>

<div id="navBottom">
   <form action="/" method="GET" id="searchForm">
        <fieldset>
            <legend>Sort by Type</legend>
            <label for="apparelM">Men's Apparel</label>
            <input type="checkbox" name="category" id="apparelM" value="Mens Apparel">
            <label for="apparelW">Women's Apparel</label>
            <input type="checkbox" name="category" id="apparelW" value="Womens Apparel">
            <label for="shoeM">Men's Shoes</label>
            <input type="checkbox" name="category" id="shoeM" value="Mens Shoes">
            <label for="shoeW">Women's Shoes</label>
            <input type="checkbox" name="category" id="shoeW" value="Womens Shoes">
         </fieldset>
         <fieldset>
            <legend>Sort by Weather</legend>
            <label for="springFall">Spring/Fall</label>
            <input type="checkbox" name="weather" id="spring/fall" value="Spring/Fall">
            <label for="summer">Summer</label>
            <input type="checkbox" name="weather" id="summer" value="Summer">
            <label for="winter">Winter</label>
            <input type="checkbox" name="weather" id="winter" value="Winter">
            <label for="all weather">All</label>
            <input type="checkbox" name="weather" id="all weather" value="All Weather">
         </fieldset>
         <button type="submit" id="searchCatBtn">Search</button>
    </form>
</div>





<script src="/js/main.js" defer></script> 
</body>
</html>